/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Colors
$bg: #fff;
$text: #382b22;

// Pink button palette
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

// Blue button palette
$light-blue: #f0f8ff;
$blue: #e9f5ff;
$dark-blue: #c4ddf9;
$blue-border: #8597b1;
$blue-shadow: #e3f2ff;

// Mixin for 3D button styling
@mixin button3d-style($light, $medium, $dark, $border, $shadow) {
  font-weight: 600;
  color: $text;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: $light;
  border: 2px solid $border;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark;
    border-radius: inherit;
    box-shadow: 0 0 0 2px $border, 0 0.625em 0 0 $shadow;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  &:hover {
    background: $medium;
    transform: translate(0, 0.25em);
    &::before {
      box-shadow: 0 0 0 2px $border, 0 0.5em 0 0 $shadow;
      transform: translate3d(0, 0.5em, -1em);
    }
  }

  &:active {
    background: $medium;
    transform: translate(0em, 0.75em);
    &::before {
      box-shadow: 0 0 0 2px $border, 0 0 $shadow;
      transform: translate3d(0, 0, -1em);
    }
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;

  &.button3d-pink {
    @include button3d-style($light-pink, $pink, $dark-pink, $pink-border, $pink-shadow);
  }

  &.button3d-blue {
    @include button3d-style($light-blue, $blue, $dark-blue, $blue-border, $blue-shadow);
  }
}
